

header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .image-logo {
        width: 60px;
    }

    .menu {

        ul {
            display: flex;

            li {
                list-style: none;
                margin: 0px 20px;

                a {
                    color: $black-gray-text;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 15px;
                }
                
            }

        }

    }

}