
.jumbotron {
    height: 400px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover ;
    position: relative;

    .container-button {
        width: 80%;
        margin: 0 auto;
    
    }

}